* {
    margin: 0%;
    padding: 0%;
}
body {
    font-size: 25px;
    font-family: 'Nanum Gothic Coding', monospace;
    color: white;
    background-color: #22303c;
}
.nav_bar {
    display: flex;
    height: 100px;
    background-color: lightblue;
    align-items: center;
    justify-content: space-around;
    background-color: #15202b;
}
.nav_bar span {
    font-size: 30px;
    margin-left: 100px;
}
.nav_bar span strong {
    font-size: 40px;
    color: brown;
}

.link_container a {
    margin-right: 50px;
    text-decoration: none;
    list-style: none;
    color: white;
}
